[Desktop Entry]
Name[]=Yber web browser
Comment[]=Cross Platform WebKit Browser
Exec=yberbrowser
Terminal=false
Type=Application
Categories=Qt;Network;WebBrowser;
Icon=yberbrowser/yberbrowser
