[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=yberbrowser
Exec=/usr/bin/yberbrowser
Icon=yberbrowser
StartupWMClass=yberbrowser
X-Window-Icon=yberbrowser
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false
